.store {
  h1 {
    margin: 0;
    padding-bottom: 0.5em;
    font:  150% sans-serif;
    color: #555;
    border-bottom: 3px dotted #77d;
  }

  /* An entry in the store catalog */
  .entry {
    overflow: auto;
    margin: 1em;
    border-bottom: 1px dotted #77d;
    text-align: center;


    img {
      width: 80px;
      padding-right: 5px;
      margin-bottom: 10px;
      
    }

    h3 {
      font-size: 120%;
      font-family: sans-serif;
      margin-left: 100px;
      margin-top: 0;
      margin-bottom: 2px;
      color: #CDFFFFF;
      float: right;
    }

    p, div.price_line {
      margin-left: 100px;
      margin-top: 3em; 
      margin-bottom: 0.8em; 
      text-align: right;
      padding-bottom: 2em;
    }

    .price {
      color: #44a;
      font-weight: bold;
      margin-right: 3em;
    }

    form, div {
    display: inline;
    }
  }
}